body {
  background: #eee;
  margin: 0;
  padding: 0;
  font-family: "Cabin",sans-serif,Helvetica,Arial !important; }

* {
  outline: none; }

#root {
  min-height: 100vh;
  background-color: #eee; }

.green-btn {
  background-color: #06E896;
  border: none;
  padding: 10px;
  margin: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .green-btn:hover {
    background-color: #439fe0; }
