@font-face {
  font-family: "CaviarDreams";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/CaviarDreams.eot?#iefix") format("embedded-opentype"), url("../fonts/CaviarDreams.woff") format("woff"), url("../fonts/CaviarDreams.ttf") format("truetype"), url("../fonts/CaviarDreams.svg#CaviarDreams") format("svg"); }

body {
  background: #eee;
  margin: 0;
  padding: 0;
  font-family: "CaviarDreams","Helvetica Neue",Helvetica,Arial,sans-serif !important; }

* {
  outline: none; }

#root {
  min-height: 100vh;
  background-color: #eee; }
