@import "bourbon/bourbon"
@import "var.sass"


// +font-face("CaviarDreams", "../fonts/radikal", normal, $file-formats: ttf) 
// +font-face("CaviarDreamsBold", "../fonts/Caviar_Dreams_Bold", normal, $file-formats: eot woff ttf svg) 

body
	background: $body-bg
	margin: 0
	padding: 0
	font-family: "Cabin",sans-serif,Helvetica,Arial !important
*
	outline: none	

#root
	min-height: 100vh
	background-color: $body-bg	

.green-btn 
	background-color: $green-main
	border: none	
	padding: 10px
	margin: 0
	+transition(all 0.3s ease)
	&:hover
		background-color: $blue-main

.ttl
	padding: 40px 15px 10px
	h2 
		margin: 0
		font-size: 28px


@media screen and (max-width: 992px)
	
	.ttl
		padding-left: 0