body {
  background: #eee;
  margin: 0;
  padding: 0;
  font-family: "Cabin",sans-serif,Helvetica,Arial !important; }

* {
  outline: none; }

.text-right {
  text-align: right; }

#root {
  min-height: 100vh;
  background-color: #eee; }

.blue-btn {
  background-color: #439fe0;
  color: #fff; }

.green-btn {
  background-color: #06E896; }
  .green-btn._main {
    background-color: #27ae60; }

.blue-btn,
.green-btn {
  border: none;
  padding: 10px;
  margin: 0;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .blue-btn:hover,
  .green-btn:hover {
    background-color: #439fe0; }
  .blue-btn._main,
  .green-btn._main {
    border-radius: 5px;
    padding: 10px 25px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
    font-family: Cabin;
    margin: 15px 5px 5px; }

.blue-btn._main:hover {
  background-color: #3f51b5; }

.green-btn._main:hover {
  background-color: #3f51b5; }

.ttl {
  padding: 40px 15px 10px; }
  .ttl h2 {
    margin: 0;
    font-size: 28px; }

@media screen and (max-width: 992px) {
  .ttl {
    padding-left: 0; } }
