#add-wrp {
  max-width: 1100px;
  margin: 30px auto 0;
  background-color: #eee;
  padding: 10px 10px;
  border-radius: 30px 10px 10px 30px; }
  #add-wrp .col-md-1 {
    height: 30px;
    margin-right: -40px; }
    #add-wrp .col-md-1:last-child {
      margin-left: 40px; }
  #add-wrp .copy-wrp {
    position: relative; }
    #add-wrp .copy-wrp input {
      position: relative;
      z-index: 3; }
    #add-wrp .copy-wrp button {
      z-index: 2;
      background-color: #06E896;
      border-radius: 5px 5px 0 0;
      width: 30px;
      height: 30px;
      border: none;
      position: absolute;
      right: 5px;
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      #add-wrp .copy-wrp button span {
        position: absolute;
        left: 50%;
        bottom: 100%;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        -webkit-animation: scale 1s ease-in;
        -moz-animation: scale 1s ease-in;
        animation: scale 1s ease-in; }
      #add-wrp .copy-wrp button:hover:before {
        height: 100%; }
      #add-wrp .copy-wrp button.up {
        top: -30px;
        opacity: 1; }
      #add-wrp .copy-wrp button.down {
        top: 2px;
        opacity: 0; }
      #add-wrp .copy-wrp button:after, #add-wrp .copy-wrp button:before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        content: '';
        border-radius: 5px 5px 0 0; }
      #add-wrp .copy-wrp button:before {
        height: 0;
        background-color: #439fe0;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease; }
      #add-wrp .copy-wrp button:after {
        height: 100%;
        background-image: url(../img/copy.svg);
        background-size: 16px;
        background-position: center;
        background-repeat: no-repeat; }
  #add-wrp .alert {
    position: absolute;
    background-color: #E85906;
    color: #fff;
    padding: 5px 10px;
    top: 100%;
    left: 5px;
    margin-top: 5px;
    border-radius: 0px 5px 5px 5px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0;
    visbility: hidden;
    transform-origin: 0 0;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg); }
    #add-wrp .alert:before {
      position: absolute;
      top: -5px;
      content: '';
      left: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 0 0 5px;
      border-color: transparent transparent transparent #E85906; }
    #add-wrp .alert small {
      display: block; }
  #add-wrp .green-btn {
    position: absolute;
    height: 50px;
    line-height: 50px;
    width: 90px;
    top: -10px;
    right: -10px;
    background-image: url(../img/save.svg);
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0px 10px 10px 0px; }
  #add-wrp #link-img {
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: -10px;
    margin-top: -25px;
    border-radius: 50%;
    background-color: #eee;
    background-image: url(../img/plus.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    border: 2px solid #fff; }
    #add-wrp #link-img img {
      position: absolute;
      left: 50%;
      top: 50%;
      display: table;
      border-radius: 50%;
      max-width: 100%;
      background-color: #fff;
      z-index: 3;
      padding: 2px;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%); }
    #add-wrp #link-img.has-img {
      background: #439fe0;
      border-color: #fff; }
  #add-wrp input {
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    font-size: 15px;
    background-color: #fff;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding-right: 10px;
    border: none;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3); }
    #add-wrp input#urlInput, #add-wrp input.shortUrl {
      background-color: #fff; }
  #add-wrp .valid-wrp {
    position: relative; }
    #add-wrp .valid-wrp.inFocus:after {
      width: 100%; }
    #add-wrp .valid-wrp.hasError .alert {
      opacity: 1;
      visibility: visible;
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      -o-transform: rotateY(0deg);
      transform: rotateY(0deg); }
    #add-wrp .valid-wrp.hasError:after {
      width: 100%;
      background-color: #E85906; }
    #add-wrp .valid-wrp:after {
      position: absolute;
      content: '';
      left: 50%;
      bottom: 0;
      background-color: #06E896;
      height: 2px;
      width: 0;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      transition: all 0.3s ease;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%); }

@media screen and (max-width: 992px) {
  #add-wrp {
    border-radius: 10px; }
    #add-wrp .copy-wrp button {
      height: 100%;
      z-index: 4;
      top: auto !important;
      bottom: -5px !important;
      right: -70px;
      overflow: hidden; }
      #add-wrp .copy-wrp button:after {
        background-size: 25px; }
      #add-wrp .copy-wrp button.up {
        right: -20px;
        width: 50px;
        height: 50px;
        border-radius: 50%; }
    #add-wrp .green-btn {
      margin-top: 10px;
      position: relative;
      display: block;
      width: 100%;
      left: 0;
      top: 0;
      border-radius: 10px; }
    #add-wrp .col-md-1 {
      padding: 0;
      margin: 0 !important;
      height: auto; }
    #add-wrp #link-img {
      border-width: 5px;
      position: static;
      width: 55px;
      height: 55px;
      margin: -30px auto 0; }
    #add-wrp input {
      margin: 10px 0 0;
      height: 40px;
      line-height: 40px; } }
